*{
        box-sizing: border-box;
}

body {
        font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
        margin: 0;
        padding: 0;
        background-color: #ececec;
        background-image: url("https://i.pinimg.com/736x/7f/6a/0d/7f6a0d4f44f4d318dd84d18bdf86fa87.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
}

h1{
        margin:0 0 10px;
        font-size: 20px;
}

.cabecalho {
        background-color: darkred;
        color: white;
        padding: 15px 30px;
        border: 8px ridge #4c0507;
        background-image: url("https://i.pinimg.com/736x/47/95/00/47950066d2dde8863fbe16cf6cf3e4b5.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
}

.cabecalho h1 {
        margin: 0;
}

h3{
        background-color: #b50101;
        margin-block: 0.1px;
        border: 6px ridge #fece79;
        color: rgb(181 1 1 / 0);
        width: 100%;
        height: auto;
        text-align: center;
        display: flex;
        align-content: baseline;
}

.navegador a {
        color: #e6a341;
        text-decoration: none;
        margin-right: 20px;
        font-weight: bold
}

.navegador a:hover{
        color: #ffdea2
}

.conteudo {
        padding: 30px;
        max-width: 900px;
        margin: 0 auto;
        background: #ffffff;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 8px ridge lightgray;
}

p{
        color: darkred;
        font-weight: bold
}

.atividades {
        width: 300px;
        height: auto;
        background: #e6a341;
        padding: 20px;
        margin: 10px 10px;
        border: 8px ridge #ca7b09;
}

.titulo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
}

.aviso {
        width: auto;
        height: auto;
        background: #e6a341;
        padding: 20px;
        margin: 10px 10px;
        border: 8px ridge #ca7b09;

}

.login {
        display: flex;
        flex-direction: column;
}

.usuario {
        width: auto;
        height: auto;
        background: #e6a341;
        padding: 20px;
        margin: 10px 10px;
        border: 8px ridge #ca7b09;
}