<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>TaskFlow Corp - Sistema Interno</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="cabecalho">
    <h1> TaskFlow Corp | Gestão Interna </h1>
</div>

<h3>
    <div class="navegador">
        <a href="{{ url_for('index') }}">Início</a>
        <a href="{{ url_for('pessoa') }}">Pessoas</a>
        <a href="{{url_for('recursos')}}">Recursos</a>
        <a href="{{url_for('categorias')}}"> Categorias </a>
        <a href="{{ url_for('listar_atividades') }}">Atividades</a>
    </div>
</h3>


{% for mensagem in get_flashed_messages() %}
    {{ mensagem }}
{% endfor %}



<div class="conteudo">
    {% block conteudo %}
    {% endblock conteudo %}
</div>


</body>
</html>