<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>TaskFlow Corp - Sistema Interno</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="cabecalho">
    <h1> TaskFlow Corp | Gestão Interna </h1>
    <div class="navegador">
        <a href="{{ url_for('index') }}">Início</a>
        <a href="{{ url_for('criar_atividade') }}"> Criar Atividade </a>
        <a href="{{ url_for('listar_atividades') }}">Listar Atividade</a>
        <a href="{{ url_for('pessoa') }}">Perfil Colaborador</a>
    </div>
</div>

<h6 style="color: #b50101"> jarvis que coisa mais linda </h6>

<div class="conteudo">
    {% block conteudo %}
    {% endblock conteudo %}
</div>


</body>
</html>