<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>TaskFlow Corp - Sistema Interno</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="cabecalho">
    <h1> TaskFlow Corp | Gestão Interna </h1>
</div>

<h3> jarvis que coisa mais linda
    <div class="navegador">
        <a href="{{ url_for('index') }}">Início</a>
        <a href="{{ url_for('criar_atividade') }}"> Criar Atividade </a>
        <a href="{{ url_for('listar_atividades') }}">Listar Atividade</a>
        <a href="{{url_for('login')}}"> Login de usuário </a>
        <a href="{{ url_for('pessoa') }}">Nossos colaboradores</a>
    </div>
</h3>

<div class="conteudo">
    {% block conteudo %}
    {% endblock conteudo %}
</div>


</body>
</html>