{% extends "base.html" %}

{% block conteudo %}

<div class="titulo">
    <h2>Bem-Vindo ao TaskFlow Corp!</h2>
    <p>Este é o portal interno para acompanhamento e gestão de tarefas da empresa.</p>
</div>

<div class="aviso">
    <h3 style="color: black">𝘈𝘤𝘦𝘴𝘴𝘰 𝘙𝘢́𝘱𝘪𝘥𝘰!</h3>
    <p> Utilize o menu superior para navegar entre a criação e listagem de atividades e verificar perfil de colaboradores.</p>
    <img src="https://th.bing.com/th/id/R.485612cbe04e89e431fc05a666983e6d?rik=2htdZjIWtO858A&riu=http%3a%2f%2fconfinianima.c.o.pic.centerblog.net%2ffarfalla_rossa.png&ehk=415rW2RQtiUuK%2fxJGDWIzIu%2fujpLlFRMKt3pa%2b%2ffZsA%3d&risl=&pid=ImgRaw&r=0" width="120" height="120">
</div>

{% endblock conteudo %}