{% extends "base.html" %}

{% block conteudo %}

<h2>Bem-Vindo ao TaskFlow Corp!</h2>
<p>Este é o portal interno para acompanhamento e gestão de tarefas da empresa.</p>
<hr>
<h6 style="color: #b50101">jarvis que coisa mais linda</h6>
<hr>
<div class="card">
    <h3 style="color: darkred">𝘈𝘤𝘦𝘴𝘴𝘰 𝘙𝘢́𝘱𝘪𝘥𝘰!</h3>
    <p> Utilize o menu superior para navegar entre a criação e listagem de atividades e verificar perfil de colaboradores.</p>
    <img src="https://i.pinimg.com/originals/c4/9c/70/c49c7097135f95807d5467283a2855ff.jpg" width="200" height="200">
</div>

{% endblock conteudo %}