{% extends "base.html" %}

{% block conteudo %}
<div class="titulo">
    <h2>Lista de Atividades Cadastradas</h2>
    <p>Acompanhe o status dos projetos e tarefas pendentes:</p>
</div>

<img src="../static/butterfly.jpg" align="right" width="170"/>

{% for atividade in dados_atividades %}
<div class="atividades">
    <p>Nome:</p>
    {{atividade.nome}}
    <p>Descrição:</p>
    {{atividade.descricao}}<br>
    <p>Data:</p>
    {{atividade.data}}
    <p>Categoria:</p>
    {{atividade.categoria}}
    <p>Prioridade:</p>
    {{atividade.prioridade}}
</div>
    {% endfor %}



{% endblock conteudo %}