{% extends "base.html" %}

{% block conteudo %}

<div class="titulo">
    <h2>Recursos</h2>
    <p>Aqui são listados todos os recursos solicitados na TaskFlow Corp:</p>
</div>
<div class="solicitar">
    <a href="{{url_for('solicitar_recursos')}}"> Solicitar ➜ </a>
</div>

<div class="solitar_recursos">
    <img src="https://static.vecteezy.com/system/resources/previews/053/774/725/non_2x/a-red-butterfly-on-a-black-background-free-png.png" width="120" height="120">
</div>


{% endblock conteudo %}